.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
}
.auth-container {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
}


.auth-container h2 {
  margin-bottom: 20px;
  color: #fb8500;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #fb8500;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-message {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}
.auth-links {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.forgot-link {
  display: block;
  margin-bottom: 12px;
  color: #be3212;
  text-decoration: none;
  font-weight: 600;
}

.forgot-link:hover {
  text-decoration: underline;
}

.signup-link {
  color: #fb8500;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.auth-message.error {
  color: red;
  margin-top: 10px;
}

.auth-links {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signup-link {
  color: #fb8500;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
.dark .auth-container {
  background: black;
}
.password-field {
  position: relative;
  margin-bottom: 12px;
}

.password-field input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.password-field span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.password-field span:hover {
  color: #fb8500;
}