.cart-page {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  gap: 30px;
  padding: 80px 20px;
}


.cart-item {
  position: relative;
  display: flex;
  gap: 20px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.cart-item img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info h3 {
  margin-bottom: 5px;
}

.ingredients {
  font-size: 14px;
  color: #777;
}

.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.qty-controls button {
  padding: 5px 10px;
  border: none;
  background: #fb8500;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove-item {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;

}
.delete-icon {
  bottom: 12px;
    right: 15px;
  color: crimson;
  cursor: pointer;
  font-size: 20px;
}
.remove-text {
  color: crimson;
  font-size: 14px;
  cursor: pointer;
  font-size: 15px;

}

.delete-icon:hover {
  transform: scale(1.1);
}
.item-actions {
  display: flex;
  align-items: center;
  width: 100%;
    justify-content: space-between;
}

.cart-right {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
}

.checkout-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #fb8500;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.continue-btn {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #444;
  cursor: pointer;
  font-weight: 600;
  color: rgb(13, 92, 18);
}

.continue-btn:hover {
  background: #f5f5f5;
}

.dark .cart-item, .dark .cart-right {
  background: black;
  color: white;
}


@media (max-width: 768px) {
  .cart-page {
    grid-template-columns: 1fr;
  }
}
