* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  background: #fff4e6;
  color: #333;
  transition: 0.4s;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffb703;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.logo-icon {
  color: #ae5f05;
  font-size: 28px !important;
}
.heavenly {
  color: #333;
}
.logo-accent {
  color: #ae5f05;
}


.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
 text-decoration: none; color: #333; font-weight: bold;
}

.nav-links a:hover {
  color: #fb8500;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  transition: width 0.3s ease;
  border-radius: 10px;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

.nav-links a.active {
  color: #ae5f05;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -15px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}
.login-btn {
  padding: 8px 16px;
  border-radius: 20px;
  background: white;
  color: #ae5f05;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  border: 2px solid transparent;
}

.login-btn:hover {
  background: #fb8500;
  color: white;
  border-color: white;
}
.mobile-login {
  display: none;
}
.logout-btn {
  background: rgb(209, 45, 45);
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.logout-btn:hover {
  background: #6a1105;
  color: white;
}
.logout-icon {
  font-size: 18px !important;
}
.mobile-login button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


.theme {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: 0.3s ease;
}

.theme:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(15deg);
}

.cart-icon {
  position: relative;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #fb8500;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}


section {
  min-height: 100vh;
    padding: 60px 20px;

}
.home{
 text-align: center;
 margin-top: 63px;
  min-height: 100vh;
  background: linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.55)
    ),
    url("https://images.unsplash.com/photo-1578985545062-69928b1d9587") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.home h1 {
  font-size: 48px;
  color: #fb8500;
  margin-bottom: 10px;
}
.home p{
    font-size: 20px;
    color: white;
}
.tagline {
  font-size: 20px;
  margin: 10px 0;
  color: #fb8500;
  font-weight: bold;
}

.intro-text {
  margin-top: 15px;
  line-height: 1.6;
  font-size: 18px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;

}

.product {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.home-ingredients{
  display: none;
}

.cart-btn {
  margin-top: 8px;
  background: #fb8500;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}


.about-intro {
      margin: 0 auto 30px;
  font-size: 17px;
  line-height: 1.7;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.about-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-6px);
}

.about-card h3 {
  margin-bottom: 10px;
  color: #fb8500;
}



.contact-intro {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 17px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  align-items: flex-start;
}

.contact-info {
  background: #ffb703;
  padding: 25px;
  border-radius: 12px;
}

.contact-info h3 {
  margin-top: 10px;
}

.contact-form {
  background: white;
  padding: 25px;
  border-radius: 12px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.contact-form button {
  width: 100%;
  background: #fb8500;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
}

.dark {
  background: #222;
  color: white;
}

.dark .navbar {
  background: #333;
  color: white;
}
.dark .nav-links, .dark input, .dark textarea {
  background: #333;
  color: white;
}
.dark .nav-links a ,.dark .heavenly {
  color: white;
}
.dark .product, .dark .about-card, .dark .contact-info, .dark .contact-form {
  background: black;
  color: white;
}


@media(max-width: 768px) {
  
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    width: 300px;
    top: 58px;
    left: 0;
    background: #ffb703;
    flex-direction: column;
    display: none;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 0 0 10px 10px;

  }

  .nav-links.active {
    display: flex;
  }
  .mobile-login {
  display: none;
}

@media (max-width: 768px) {
  .login-btn {
    display: none;
  }
  .logout-btn {
  display: none;
 }

  .mobile-login {
    display: block;
    margin-top: 10px;
  }

  .mobile-login a {
    display: block;
    text-align: center;
    padding: 10px;
    background: #fb8500;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
  }
   .mobile-login button {

    background: rgb(209, 45, 45);
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  width: 80%;
  }
.mobile-login button:hover {
  background: #6a1105;
  color: white;
}

  .mobile-login a:hover {
    background: #ae5f05;
  }
  .mobile-login {
    display: block;
    margin-top: 10px;
  }
}


}
@media(max-width: 768px) {
  .nav-links {
    animation: slideDown 0.3s ease;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

